.App{

}
.left{
  width: 75%;
  height: 100vh;
  background-color: #FFE6DD;
  float: left;
}

.right{
  width: 25%;
  top: 0;
  float: right;
  height: 100vh;
  background-color: #DAECF9;
}

.buttons{
  text-align: center;
}

.buttons button{
  width: 100px;
  height: 40px;
  margin: 30px 10px;
  border-radius: 20px;
  background-color: #FF9973;
  text-decoration: none;
  border: none;
}

.graph{
  height: 60%;
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #DAECF9;
}

.text{
  width: 90%;
  margin: 0 auto;
}

.story{
  padding: 10px;
}
